# Node.js
node_modules/
.next/
out/
npm-debug.log*

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
